/* Estilo geral para o formulário de criar receitas */
.criar-receita-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #e6f7ff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.criar-receita-container h1 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 20px;
}

.criar-receita-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.criar-receita-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.criar-receita-container button:hover {
    background-color: #0056b3;
}
